
body{
    background-color:rgb(86, 84, 84);
}

.hover{
    float: left;;
}
.red{
    width:200px;
    height:100px;
    background:red;
}
.cyan{
    width:200px;
    height:100px;
    background:cyan;

}

.violet{
    width:200px;
    height:100px;
    background:violet;
}

.orange{
    width:200px;
    height:100px;
    background:orange;
}


.pink{
    width:200px;
    height:100px;
    background:pink;
}

.hover {
    display: flex;
}

.red, .cyan, .violet, .orange, .pink {
    width: 200px;
    height: 100px;
    margin-right: 10px; /* Adjust the margin as needed for spacing */
}

.center {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: white; /* Set text color to contrast with the background */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}